/* Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

/* ========================================================================
 Use this file to add custom CSS easily
========================================================================== */

 
 .tm-search {
	margin-top: 0px;
}

.tm-toolbar {
	padding-top:15px;
}

.tm-toolbar .uk-panel {
	float:right;
	margin-left:20px;
}

.tm-toolbar .mod-languages {
	margin-top:-1px;
}

.tm-content {
	box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.06), 0 4px 10px rgba(0, 0, 0, 0.06);
	padding: 25px;
	background: #ffffff;
	color: #555555;
}

.tm-logo-small div {
	display:inline;
}

.component-only,
.tm-content-blank {
	background:#fff;
}

.tm-content-blank .view-admin {
	margin: -25px -25px;
	padding: 15px;
	background: #f6f6f7;
}

.tm-content .uk-article {
	padding:0;
	box-shadow:none;

}

.tm-content .uk-article:nth-child(2) {
	margin-top:0;
}