@import 'https://fonts.googleapis.com/css?family=Roboto:300,400';
@import 'https://fonts.googleapis.com/css?family=News+Cycle';

@theme_global-body-style: 'default';
@theme_navbar-sticky-background: fade(#42627c, 85%);
@global-border: #e5e5e5;
@base-body-font-weight: 300;
@base-heading-font-weight: 400;
@global-box-shadow: rgba(30, 50, 70, 0.3);
@theme_toolbar-subnav-line-border: rgba(255, 255, 255, 0.3);
@dropdown-animation: uk-fade;
@dropdown-navbar-animation: uk-fade;
@breadcrumb-divider: "/";
@breadcrumb-divider-margin: 5px;