// Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Component: Article
//
// ========================================================================


// Variables
// ========================================================================

@article-margin-top:                            @global-grid-gutter;

@article-title-font-size:                       round((@global-font-size * 2.57)); // 36px
@article-title-line-height:                     @article-title-font-size; // 36px

@article-meta-font-size:                        round((@global-font-size * 0.85)); // 12px
@article-meta-line-height:                      round((@article-meta-font-size * 1.5)); // 18px
@article-meta-color:                            @global-color;

@article-lead-color:                            @global-color;
@article-lead-font-size:                        round((@global-font-size * 1.28)); // 18px
@article-lead-line-height:                      round((@article-lead-font-size * 1.33)); // 24px

@article-divider-margin:                        @global-margin-large;
@article-divider-border:                        @global-border;


// Sub-object `uk-article-title`
// ========================================================================

.hook-article-title() {}


// Sub-object `uk-article-meta`
// ========================================================================

.hook-article-meta() {}


// Sub-object `uk-article-lead`
// ========================================================================

.hook-article-lead() {}


// Sub-object `uk-article-divider`
// ========================================================================

.hook-article-divider() {}


// Miscellaneous
// ========================================================================

.hook-article-misc() {}