// Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Component: Base
//
// ========================================================================


// Variables
// ========================================================================

@base-body-background:                          @global-background;
@base-body-font-family:                         'Roboto';
@base-body-font-weight:                         300;
@base-body-font-size:                           @global-font-size;
@base-body-line-height:                         @global-line-height;
@base-body-color:                               @global-color;

@base-link-color:                               @global-link-color;
@base-link-hover-color:                         @global-link-hover-color;

@base-em-color:                                 @global-secondary-color;
@base-ins-background:                           fade(@global-default-background, 60%);
@base-ins-color:                                @global-contrast-color;
@base-mark-background:                          fade(@global-default-background, 60%);
@base-mark-color:                               @global-contrast-color;
@base-selection-background:                     @global-default-background;
@base-selection-color:                          @global-contrast-color;

@base-margin-vertical:                          @global-margin;

@base-heading-font-weight:                      400;
@base-heading-font-family:                      'News Cycle';
@base-heading-color:                            @global-heading-color;
@base-heading-margin-top:                       @global-margin-large;
@base-h1-font-size:                             round((@global-font-size * 2.57)); // 36px
@base-h1-line-height:                           round((@base-h1-font-size * 1.16)); // 42px
@base-h2-font-size:                             round((@global-font-size * 1.71)); // 24px
@base-h2-line-height:                           round((@base-h2-font-size * 1.25)); // 30px
@base-h3-font-size:                             round((@global-font-size * 1.28)); // 18px
@base-h3-line-height:                           round((@base-h3-font-size * 1.33)); // 24px
@base-h4-font-size:                             round((@global-font-size * 1.14)); // 16px
@base-h4-line-height:                           round((@base-h4-font-size * 1.37)); // 22px
@base-h5-font-size:                             @global-font-size; // 14px
@base-h5-line-height:                           @global-line-height; // 20px
@base-h6-font-size:                             round((@global-font-size * 0.85)); // 12px
@base-h6-line-height:                           round((@base-h6-font-size * 1.5)); // 18px

@base-hr-border:                                @global-border;

@base-blockquote-border:                        @global-light-background;
@base-blockquote-font-size:                     round((@global-font-size * 1.14)); // 16px
@base-blockquote-line-height:                   round((@base-blockquote-font-size * 1.37)); // 22px

@base-code-color:                               @global-secondary-color;
@base-code-font-size:                           round((@global-font-size * 0.85)); // 12px

@base-pre-background:                           @global-light-background;
@base-pre-color:                                lighten(@global-color, 25%);
@base-pre-font-size:                            round((@global-font-size * 0.85)); // 12px
@base-pre-line-height:                          round((@base-pre-font-size * 1.5)); // 18px

//
// New
//

@base-pre-border: 								@global-border;

@base-blockquote-small-color:                   @global-muted-color;


// Body
// ========================================================================

.hook-base-body() {}


// Code and preformatted text
// ========================================================================

.hook-base-code() {}

.hook-base-code-reset() {}

.hook-base-pre() { border: 1px solid @base-pre-border; }


// Miscellaneous
// ========================================================================

.hook-base-misc() {

    /* Small print for identifying the source */
    blockquote small { color: @base-blockquote-small-color; }

}