// Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Component: Contrast
//
// ========================================================================

@contrast-tab-hover-border:               rgba(0,0,0,0);
@contrast-tab-hover-background:           rgba(255,255,255,0.2);
@contrast-tab-hover-color:                @contrast-color;


// Base
// ========================================================================

.hook-contrast-base-code() {}


// Nav
// ========================================================================

.hook-contrast-nav-side() {}
.hook-contrast-nav-side-hover() {}
.hook-contrast-nav-side-active() {}
.hook-contrast-nav-side-header() {}
.hook-contrast-nav-side-divider() {}


// Subnav
// ========================================================================

.hook-contrast-subnav() {}
.hook-contrast-subnav-hover() {}
.hook-contrast-subnav-active() {}
.hook-contrast-subnav-line-divider() {}
.hook-contrast-subnav-pill-hover() {}
.hook-contrast-subnav-pill-active() {}


// List
// ========================================================================

.hook-contrast-list-line() {}

// Form
// ========================================================================

.hook-contrast-form() {}
.hook-contrast-form-focus() {}


// Tab
// ========================================================================

.hook-contrast-tab() {}
.hook-contrast-tab-hover() {}
.hook-contrast-tab-active() {}


// Button
// ========================================================================

.hook-contrast-button() {}
.hook-contrast-button-hover() {}
.hook-contrast-button-active() {}
.hook-contrast-button-primary() {}
.hook-contrast-button-primary-hover() {}
.hook-contrast-button-primary-active() {}


// Icon
// ========================================================================

.hook-contrast-icon-hover() {}
.hook-contrast-icon-hover-hover() {}
.hook-contrast-icon-button() {}
.hook-contrast-icon-button-hover() {}
.hook-contrast-icon-button-active() {}


// Miscellaneous
// ========================================================================

.hook-contrast-misc() {}