// Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Component: Icon
//
// ========================================================================


// Variables
// ========================================================================

@icon-hover-color:                              @global-color;
@icon-hover-hover-color:                        @global-link-color;

@icon-button-height:                            @icon-button-width;
@icon-button-font-size:                         round((@icon-button-width * 0.5));
@icon-button-background:                        @global-light-background;
@icon-button-color:                             @global-color;

@icon-button-hover-background:                  @global-light-background;
@icon-button-hover-color:                       @global-primary-color;

@icon-button-active-background:                 darken(@icon-button-hover-background, 3%);
@icon-button-active-color:                      @icon-button-hover-color;


// Modifier: `uk-icon-hover`
// ========================================================================

.hook-icon-hover() {}

.hook-icon-hover-hover() {}


// Modifier: `uk-icon-button`
// ========================================================================

.hook-icon-button() {}

// Hover
.hook-icon-button-hover() {}

// Active
.hook-icon-button-active() {}


// Miscellaneous
// ========================================================================

.hook-icon-misc() {}