// Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Component: Overlay
//
// ========================================================================


// Variables
// ========================================================================

@overlay-panel-color:                           @global-contrast-color;

@overlay-icon-color:                            @global-contrast-color;

// DEPRECATED
@overlay-area-background:                       fade(@global-default-background, 50%);
@overlay-area-icon-size:                        30px;
@overlay-area-icon-color:                       @global-contrast-color;

@overlay-caption-background:                    fade(@global-default-background, 50%);
@overlay-caption-padding:                       @global-margin;
@overlay-caption-color:                         @global-contrast-color;


// Sub-object `uk-overlay-panel`
// ========================================================================

.hook-overlay-panel() {}


// Sub-object `uk-overlay-background`
// ========================================================================

.hook-overlay-background() {}


// Sub-object `uk-overlay-icon`
// ========================================================================

.hook-overlay-icon() {}


// Sub-object `uk-overlay-area`
// ========================================================================

.hook-overlay-area() {}
.hook-overlay-area-icon() {}


// Miscellaneous
// ========================================================================

.hook-overlay-misc() {}