// Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Component: Subnav
//
// ========================================================================


// Variables
// ========================================================================

@subnav-color:                                  @global-color;
@subnav-hover-color:                            @global-link-color;
@subnav-hover-text-decoration:                  underline;
@subnav-active-color:                           @global-link-color;
@subnav-disabled-color:                         @global-muted-color;

@subnav-line-border:                            @global-border;

@subnav-pill-hover-background:                  @global-light-background;
@subnav-pill-hover-color:                       @global-link-color;
@subnav-pill-active-background:                 @global-primary-background;
@subnav-pill-active-color:                      @global-contrast-color;

//
// New
//

@subnav-pill-gradient-top:                      @global-default-gradient-top;
@subnav-pill-gradient-bottom:                   @global-default-gradient-bottom;


// Component
// ==========================================================================

//
// Items
//

.hook-subnav() {}

// Hover
.hook-subnav-hover() {}

// Active
.hook-subnav-active() {}


// Modifier: `uk-subnav-line'
// ========================================================================

.hook-subnav-line-divider() {}


// Modifier: `uk-subnav-pill'
// ========================================================================

.hook-subnav-pill() {}

// Hover
.hook-subnav-pill-hover() {}

// Active
.hook-subnav-pill-active() {
	background-image: -webkit-linear-gradient(top, @subnav-pill-gradient-top, @subnav-pill-gradient-bottom);
    background-image: linear-gradient(to bottom, @subnav-pill-gradient-top, @subnav-pill-gradient-bottom);
}


// Disabled state
// ========================================================================

.hook-subnav-disabled() {}


// Miscellaneous
// ========================================================================

.hook-subnav-misc() {}