// Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

//
// Component: Variables
//
// ========================================================================


// Global variables
// ========================================================================

//
// Text
//

@global-color:                                  #5c626b;
@global-light-color: 							#fff;
@global-muted-color:                            #a8aeb6;

@global-primary-color:                          #53b9e0;
@global-secondary-color:                        #da8668;

@global-link-color:                             #52b8df;
@global-link-hover-color:                       #52b8df;

@global-contrast-color:                         #fff;

@global-heading-color:                          #497c95;

@global-font-size:                              14px;
@global-line-height:                            24px;

@global-text-shadow: 							rgba(0,0,0,0.2);

//
// Backgrounds & Borders
//

@global-background:                             #fff;
@global-light-background:                       #f9f9f9;

@global-border:                                 #e5e5e5;
@global-border-radius:                          2px;

@global-box-shadow-size: 						0 1px 3px;
@global-box-shadow:                             rgba(30,50,70,0.3);

@global-default-gradient-top:                   #53b9e0;
@global-default-gradient-bottom:                #4fb1d7;
@global-default-background:                     mix(@global-default-gradient-top, @global-default-gradient-bottom, 40%);

@global-primary-gradient-top:                   #e38f71;
@global-primary-gradient-bottom:                #da8668;
@global-primary-background:                     mix(@global-primary-gradient-top, @global-primary-gradient-bottom, 40%);

@global-success-gradient-top:                   #71d173;
@global-success-gradient-bottom:                #6ac76c;
@global-success-background:                     mix(@global-success-gradient-top, @global-success-gradient-bottom, 40%);

@global-warning-gradient-top:                   #fed585;
@global-warning-gradient-bottom:                #f2cb7e;
@global-warning-background:                     mix(@global-warning-gradient-top, @global-warning-gradient-bottom, 40%);

@global-danger-gradient-top:                    #e37471;
@global-danger-gradient-bottom:                 #d86e6c;
@global-danger-background:                      mix(@global-danger-gradient-top, @global-danger-gradient-bottom, 40%);

//
// Spacings
//

@global-margin:                                 15px;
@global-margin-large:                           25px;
@global-grid-gutter:                            15px;
@global-grid-gutter-large:                      15px;

//
// Controls
//

@global-height:                                 30px;
@global-mini-height:                            20px;
@global-small-height:                           25px;
@global-large-height:                           40px;

//
// Z-index
//

@global-z-index:                                1000;

//
// Animations
//

@global-transition:                             all 0.1s ease-in-out;
@global-hover-transform:                        scale(1.1);
@global-active-transform:                       scale(0.9);


// Internal Global variables
// ==========================================================================

@global-image-path:                             'images';
@global-style:                                  'default';