// Copyright (C) YOOtheme GmbH, YOOtheme Proprietary Use License (http://www.yootheme.com/license) */

// Additional style fixes
// ========================================================================

.woocommerce,
.woocommerce-page {

    // Forms

    form.login,
    form.checkout_coupon,
    form.register {
        box-shadow: none;
        background-color: @global-light-background;
        border: 1px solid @global-border;
    }

    // Payment box - appears on checkout and page page

    #payment {
        box-shadow: none;
        background-color: @global-light-background;
        border: 1px solid @global-border;
    }

    // Account Page

    .addresses {

        .col-1,
        .col-2 {
            box-shadow: none;
            background-color: @global-light-background;
            border: 1px solid @global-border;
        }

    }

}